* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: #4c527d;
}

a {
    text-decoration: none;
}

header {
    margin-left: 10px;
    margin-top: 40px;
}

header > h1 {
    margin-left: 50px;
    margin-top: -40px;
    font-size: 25px;
}

/*book promo section */

#book-promo {
    margin-top: 65px;
    width: 100%;
    display: block;
}

.promo-container {
    width: 550px;
    height: auto;
    display: inline-block;
    margin-left: 150px;
}

.promo-container > h1 {
    font-size: 2.6rem;
    font-weight: 400;
}

.promo-container > p {
    margin-top: -20px;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 40px;
}

#price-btn {
    padding: 16px 34px;
    border-radius: 30px;
    background-color: #ed6524;
    color: white;
    font-size: 15px;
}

#price-btn:hover {
    background-color: #ed7230;
    transition: background-color 0.6s ease-in-out;
}

#learn-more-btn {
    padding: 18px 34px;
    background-color: white;
    color: #ed6524;
    border: 2px solid #ed6524;
    font-weight: 500;
    border-radius: 2rem;
    font-size: 15px;
}

#learn-more-btn:hover {
    background-color: #ed6524;
    color: white;
    transition: background-color 0.6s ease-in-out;
}

#book-review-quote {
    background-color: #fafafa;
    margin-top: 50px;
    margin-left: 2px;
    border-left: #faa848 solid 3px;
    width: 550px;
    height: 120px;
}

#book-review-quote > p {
    padding-top: 25px;
    margin-left: 15px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
}

.profile-photo {
    margin-left: 5px;
    width: 55px;
    height: auto;
}

#person-info {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    vertical-align: middle;
}

.book-container {
    display: inline-block;
    width: 500px;
    height: auto;
    margin-left: 850px;
    margin-top: -550px;
}

#book-cover {
    width: 400px;
    height: auto;
}

#book-badge {
    position: absolute;
    right: 185px;
    top: 135px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 25px;
    padding-left: 25px;
    height: 110px;
    background: #5cb377;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    line-height: 1;
    font-weight: bold;
}

.book-container > a {
    color: #000;
    text-decoration: underline;
    text-align: center;
    margin-left: 120px;
    font-size: 16px;
}

/*book content section */

#book-content {
    width: 100%;
    background-color: #fafafa;
}

#book-content > h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 80px;
    padding-top: 30px;
}

#book-content > p {
    text-align: center;
    margin-top: -85px;
    margin-bottom: 50px;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 300;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 1280px;
    grid-gap: 2rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
}

.item-header,
.item-p {
    text-align: center;
}

.item-p {
    margin-top: -5px;
}

.svg-inline--fa {
    width: 60px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

/*package section first */

#package {
    display: block;
}

.package-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading-package {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.section-heading {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3rem;
    color: #1c1e2e;
    line-height: 1.2;
    margin-top: 0;
}

.flex-split-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    /*    styles being applied to the whole body tag */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.first-content {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.image-package {
    margin-bottom: 3rem;
}

#devbook-devices {
    max-width: 100%;
    height: auto;
    width: 350px;
    height: auto;
    vertical-align: middle;
    border-style: none;

}

.second-content {
    margin-bottom: 3rem;
    flex: 0 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.package-list-box {
    text-align: center;
    margin-bottom: 1.5rem;
}

.package-list {
    font-size: 1.125rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    display: inline-block;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}


#package > li {
    margin-bottom: 1rem;
}

.btn-container {
    text-align: center;
}

.device-btn {
    background-color: #ed6524;
    font-weight: 600;
    padding: 0.875rem 2.5rem;
    transition: all 0.4s ease-in-out;
    border-radius: 2rem;
    border: none;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    line-height: 1.5;
}

.btn-container > a {
    text-decoration: none;
}

/*audience section*/

#audience {
    width: 100%;
    margin-bottom: 100px;
    padding: 0.5rem;
}

#audience > h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
}

#audience > p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 300;
}

.audience-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0.1rem;
    margin-bottom: -60px;
    justify-content: center;
    align-items: center;
}

.audience-heading,
.audience-p {
    max-width: 500px;
}

.audience-heading {
    font-weight: 400;
}

.audience-p {
    margin-top: -5px;
    font-weight: 300;
}

.item-icon {
    font-size: 1.25rem;
    margin-right: 1rem;
}

/*form section*/

#form-section {
    width: 100%;
    margin-bottom: 60px;
    height: 25vh;
    display: block;
}

.form-container {
    background-color: #fafafa;
    max-width: 650px;
    height: 215px;
    margin: 0 auto;
    padding-top: 2px;
    display: block;
    text-align: center;
}

.form-heading {
    font-size: 2rem;
    font-weight: 400;
}

.form-p {
    margin-top: -15px;
    line-height: 1.5;
    font-weight: 300;
}

#email {
    padding: 15px;
    width: 400px;
    color: #fafafa;
    font-size: 16px;
}

#email:focus {
    outline: 1px solid #ed7230;
    border: none;
}

.submit-btn {
    padding: 10px;
    height: 52px;
    width: 80px;
    background-color: #ed7230;
    color: white;
    font-size: 18px;
    border-color: #ed7230;
    border-radius: 6px;
    cursor: pointer;
    outline-color: #ed7230;
}

/*book reviews section*/

#book-reviews {
    width: 100%;
    padding: 4rem;
}

#book-reviews > h2 {
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
}

#book-reviews > p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: -25px;
    margin-bottom: 50px;
}

.grid-container-reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 1280px;
    grid-gap: 2rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
}

.review-container {
    background-color: #f6f8fc;
    width: 400px;
    height: 200px;
    padding: 1rem;
}

.person-review {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin-top: -20px;
    vertical-align: middle;
}

.review-quotes {
    font-style: italic;
    color: #4c527d;
    font-weight: 300;
}

.review-btn {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 245px;
}

.quote {
    width: 36px;
    height: 36px;
    background: #f5a782;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    padding: 10px 0;
}

.icon-container {
    overflow: visible;
    margin-top: -30px;
    text-align: center;
}

/*author section page*/

#author-section {
    text-align: center;
    margin-top: 40px;
    background-color: #ed6524;
    color: white;
    width: 100%;
    padding: 0.5rem;
}

#author-section > img {
    width: 160px;
    height: auto;
    padding-top: 30px;
    margin: 0 auto;
    display: block;
}

#author-section > h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 60px;
}

#author-section > p {
    margin: auto;
    color: white;
    margin-top: -25px;
    line-height: 1.5;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    max-width: 700px;
}

h4 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#author-links > li {
    list-style: none;
    display: inline-block;
}

.media-icon {
    width: 2rem;
    height: auto;
    margin-bottom: 15px;
}


/*icons for the what to get from the book*/

.grid-container .item-icon {
    color: #ed6524;
}

.svg-inline--fa.fa-w-20 {
    width: 100px;
}

.svg-inline--fa {
    height: 40px;
}

/*list checkbox*/

.fa-w-16 {
    display: inline-block;
    margin-bottom: -12px;
    width: 1em;
    color: #7FCDB8;
    overflow: visible;
    font-size: inherit;
    vertical-align: -.125em;
}

/*icons for team*/

.svg-inline--fa.fa-w-20.f2 {
    display: inline-block;
    margin-bottom: -60px;
    width: 1.60em;
    color: #7FCDB8;
    overflow: visible;
    font-size: inherit;
    vertical-align: -.125em;
    height: 1em;
}

/*footer section*/

footer {
    width: 100%;
    height: 10vh;
}

footer > p {
    text-align: center;
    font-size: 15px;
    margin: 70px;
}


@media (max-width: 460px) {
    .promo-container {
        width: 350px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .promo-container > h1 {
        font-size: 1.7rem;
        font-weight: 400;
    }


    #book-review-quote {
        margin-left: 0px;
        width: 360px;
        height: 140px;
    }

    #book-review-quote > p {
        margin-right: 5px;
    }

    .mobile-photo {
        margin: 0 auto;
        display: block;
    }

    #person-info {
        display: block;
        text-align: center;
    }

    .book-container {
        display: block;
        width: 300px;
        height: auto;
        margin-left: 0px;
        margin-top: 30px;
    }

    #book-badge {
        right: 0;
        top: 750px;
    }

    .book-container > a {
        text-align: center;
    }

    #form-section {
        width: 400px;
    }

    .submit-btn {
        margin-top: 30px;
    }

    #package {
        margin-bottom: -85px;
    }

    #book-reviews > p {
        font-size: 1rem;
    }

    .review-container {
        width: 24rem;
    }

    #audience {
        margin-top: 20px;
    }

    #audience > h2,
    #book-reviews > h2,
    #author-section > h2 {
        font-size: 2.2rem;
    }

    #audience > p {
        margin-bottom: -50px;
    }

    footer {
        height: 25vh;
    }

    footer > p {
        font-size: 0.6rem;
    }
}
