* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
}

p {
    color: #4c527d;
}

a {
    text-decoration: none;
}

header {
    margin-left: 10px;
    margin-top: 40px;
}

header > h1 {
    margin-left: 50px;
    margin-top: -40px;
    font-size: 25px;
}

/*book promo section */
#book-promo {
    margin-left: 15px;
    margin-right: 15px;
}

.promo-header {
    font-size: 2.6rem;
    font-weight: 400;
}

#book-cover {
    max-width: 450px;
    /*    width: 100%;*/
    height: auto;
}

.book-review-link {
    margin-left: 145px;
    color: #000;
    text-decoration: underline;
}

.profile-photo {
    margin-left: 5px;
    width: 55px;
    height: auto;
}

#person-info {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    vertical-align: middle;
}

.promo-container {
    padding-left: 25px;
    width: 550px;
}

.promo-container > p {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 50px;
}

#price-btn {
    padding: 16px 34px;
    border-radius: 30px;
    background-color: #ed6524;
    color: white;
    font-size: 15px;
}

#price-btn:hover {
    background-color: #ed7230;
    transition: background-color 0.6s ease-in-out;
}

#learn-more-btn {
    padding: 18px 34px;
    background-color: white;
    color: #ed6524;
    border: 2px solid #ed6524;
    font-weight: 500;
    border-radius: 2rem;
    font-size: 15px;
}

#learn-more-btn:hover {
    background-color: #ed6524;
    color: white;
    transition: background-color 0.6s ease-in-out;
}

#book-review-quote {
    background-color: #fafafa;
    margin-top: 50px;
    margin-left: 2px;
    border-left: #faa848 solid 3px;
    width: 550px;
    height: 120px;
}

#book-review-quote > p {
    padding-top: 25px;
    margin-left: 15px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
}

/*book content section */

#book-content {
    width: 100%;
    background-color: #fafafa;
    height: auto;
}

#book-content > h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 80px;
    padding-top: 30px;
}

#book-content > p {
    text-align: center;
    margin-top: -85px;
    margin-bottom: 50px;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 300;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 1280px;
    grid-gap: 2rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
}

.item-header,
.item-p {
    text-align: center;
}

.item-p {
    margin-top: -5px;
}

.svg-inline--fa {
    width: 60px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

/*package section first */

#package {
    width: 100%;
}

.package-heading {
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: auto;
}

.img-container {
    margin: 0 auto;
    display: block;
}

#devbook-devices {
    width: 100%;
    max-width: 450px;
}

.package-list {
    line-height: 2;
    list-style: none;
    font-size: 1.2rem;
    color: #4c527d;
}

.btn-container {
    margin-top: 45px;
}

.device-btn {
    background-color: #ed6524;
    font-weight: 600;
    padding: 0.875rem 2.5rem;
    transition: all 0.4s ease-in-out;
    border-radius: 2rem;
    border: none;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
}

.btn-container > a {
    text-decoration: none;
}

/*audience section*/

#audience {
    width: 100%;
    margin-bottom: 100px;
    padding: 0.5rem;
}

#audience > h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
}

#audience > p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: -30px;
}

.audience-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0.1rem;
    margin-bottom: -60px;
    justify-content: center;
    align-items: center;
}

.audience-heading,
.audience-p {
    max-width: 500px;
}

.audience-heading {
    font-weight: 400;
}

.audience-p {
    margin-top: -5px;
    font-weight: 300;
}

.item-icon {
    font-size: 1.25rem;
    margin-right: 1rem;
}

/*form section*/

#form-section {
    width: 100%;
    margin-bottom: 60px;
    height: 25vh;
    display: block;
}

.form-container {
    background-color: #fafafa;
    max-width: 650px;
    height: 215px;
    margin: 0 auto;
    padding-top: 2px;
    display: block;
    text-align: center;
}

.form-heading {
    font-size: 2rem;
    font-weight: 400;
}

.form-p {
    margin-top: -15px;
    line-height: 1.5;
    font-weight: 300;
}

#email {
    padding: 15px;
    width: 400px;
    color: #fafafa;
    font-size: 16px;
}

#email:focus {
    outline: 1px solid #ed7230;
    border: none;
}

.submit-btn {
    padding: 10px;
    height: 52px;
    width: 80px;
    background-color: #ed7230;
    color: white;
    font-size: 18px;
    border-color: #ed7230;
    border-radius: 6px;
    cursor: pointer;
    outline-color: #ed7230;
}

/*book reviews section*/

#book-reviews {
    width: 100%;
    padding: 4rem;
}

#book-reviews > h2 {
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
}

#book-reviews > p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: -25px;
    margin-bottom: 50px;
}

.grid-container-reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 1280px;
    grid-gap: 2rem;
    margin: 0 auto;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
}

.review-container {
    background-color: #f6f8fc;
    width: 400px;
    height: 200px;
}

.person-review {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    margin-top: -20px;
    vertical-align: middle;
}

.review-quotes {
    font-style: italic;
    color: #4c527d;
    font-weight: 300;
}

.review-btn {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 245px;
}

.quote {
    width: 36px;
    height: 36px;
    background: #f5a782;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    padding: 10px 0;
}

.icon-container {
    overflow: visible;
    margin-top: -30px;
    text-align: center;
}

/*author section page*/

#author-section {
    text-align: center;
    margin-top: 40px;
    background-color: #ed6524;
    color: white;
    width: 100%;
    padding: 0.5rem;
}

#author-section > img {
    width: 160px;
    height: auto;
    padding-top: 30px;
    margin: 0 auto;
    display: block;
}

#author-section > h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 60px;
}

#author-section > p {
    margin: auto;
    color: white;
    margin-top: -25px;
    line-height: 1.5;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    max-width: 700px;
}

h4 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#author-links > li {
    list-style: none;
    display: inline-block;
}

.media-icon {
    width: 2rem;
    height: auto;
    margin-bottom: 15px;
}


/*icons for the what to get from the book*/

.grid-container .item-icon {
    color: #ed6524;
}

.svg-inline--fa.fa-w-20 {
    width: 100px;
}

.svg-inline--fa {
    height: 40px;
}

/*list checkbox*/

.fa-w-16 {
    display: inline-block;
    margin-bottom: -12px;
    width: 1em;
    color: #7FCDB8;
    overflow: visible;
    font-size: inherit;
    vertical-align: -.125em;
}

/*icons for team*/

.svg-inline--fa.fa-w-20.f2 {
    display: inline-block;
    margin-bottom: -50px;
    width: 1.60em;
    color: #7FCDB8;
    overflow: visible;
    font-size: inherit;
    vertical-align: -.125em;
    height: 1em;
}

/*footer section*/

footer {
    width: 100%;
    height: 10vh;
}

footer > p {
    text-align: center;
    font-size: 15px;
    margin: 70px;
}

/*large desktops*/
@media (max-width:1366px) {
    #page-wrap {
        width: 100%;
        margin: 0 auto;
    }

    #book-promo {
        width: 1400px;
        margin: 0 auto;
    }
}

@media (min-width:1281px) {
    #page-wrap {
        width: 100%;
        margin: 0 auto;
    }

    #book-promo {
        width: 1400px;
        margin: 0 auto;
    }
}

/* big landscape tablets, laptops, and desktops */

@media (max-width:1024px) {

    #book-promo {
        margin-left: 40px;
    }

    #book-content,
    #package,
    #audience,
    #book-reviews,
    #form-section {
        margin-left: 95px;
        margin-right: 95px;
    }

    #form-section {
        margin-bottom: -140px;
    }

    #author-section {
        width: 140%;
        height: 60vh;
    }

    footer {
        height: 50vh;
        text-align: center;
    }

    footer > p {
        margin-left: 500px;
    }
}

/*mobile phones */

@media (max-width: 768px) {
    .promo-container > p {
        font-size: 1.5rem;
    }

    #book-cover {
        margin: auto;
    }

    #book-review-quote {
        width: 550px;
        height: 150px;
    }

    #book-review-quote > p,
    #person-info,
    .book-review-link,
    .form-p,
    .review-quotes {
        font-size: 1.2rem;
    }

    #book-promo,
    #book-content,
    #audience,
    #form-section,
    #book-reviews,
    #author-section,
    footer {
        width: 145%;
    }

    .grid-container,
    #package {
        margin-left: 60px;
        margin-right: 60px;
    }

    .item-header,
    .item-p,
    .package-list > li,
    .audience-heading,
    .audience-p,
    #author-section > p {
        font-size: 1.3rem;
    }

    #package > .row-container {
        flex-direction: column;
    }

    .grid-container-reviews > .review-container {
        width: 450px;
        margin-bottom: 20px;
    }

    .person-review,
    footer > p {
        font-size: 1rem;
    }

    footer {
        height: 10vh;
    }
}

/*small phones*/
@media (max-width:320px) {
    #book-promo {
        margin-left: 20px;
    }

    #book-content,
    #audience,
    #form-section,
    #book-reviews,
    #author-section,
    footer {
        margin-left: 35px;
        margin-right: 35px;
    }

    #package {
        width: 110%;
    }

    .btn-container > .device-btn {
        font-size: 1.3rem;
    }

    @media (max-width: 280px) {
        #book-promo {
            margin-left: 50px;
        }
    }
